<settings>                                                                                                   
  <servers> 
    <server> 
      <id>maven.oracle.com</id> 
      <username>fernando.felicissimo@magazineluiza.com.br</username> 
      <password>{+6OTX4NwWn4HyFklouuo55o/AM8BGYyrCA1jF+3wCHg=}</password> 
       <configuration>
         <basicAuthScope>
           <host>ANY</host>
           <port>ANY</port>
           <realm>OAM 11g</realm>
         </basicAuthScope>
	 <httpConfiguration>
	   <all>
             <params>
               <property>
		 <name>http.protocol.allow-circular-redirects</name>
		 <value>%b,true </value>
	       </property>
	     </params>
	   </all>
	 </httpConfiguration>
       </configuration>
    </server> 
  </servers> 
</settings>
